<template>

  <div class="container d-flex flex-column align-items-center justify-content-center shadow p-3 mt-3 bg-dark text-white rounded shadow">
    <h2>TO DO LIST APP</h2>
    <div class="d-flex justify-content-center container">
    <div class="w-75">
      <form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
        <div class="mb-3 mt-5">
          <label for="todo">What's your todo?</label>
          <div class="d-flex">
            <input v-model="todo" type="text" class="form-control" id="todo" placeholder="Add your task here">
            <button type="submit" class="btn btn-primary ms-3"><i class="bi bi-plus-circle-fill"></i></button>
           
          </div>
        </div>
      </form>
      <div v-for="row in todoList" :key="row.id" class="toast show mt-2 w-100">
        <div class="toast-header">
          <strong class="me-auto">{{row.todo}}</strong>
          <button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="markAsDone(row)"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-danger btn-sm ms-1" @click.stop="removeTask(row.id)"><i class="bi bi-trash-fill"></i></button>
        </div>
      </div>
    </div>
  </div>

  </div>
  
</template>

<script setup>
import { ref } from 'vue';

let todoList = ref([]);
let todo = ref('');
let selectedTodo = ref(null);

const addTodo = () => {
  if (todo.value.trim() !== '') {
    const isDuplicate = todoList.value.some(task => task.todo === todo.value.trim());
    if (!isDuplicate) {
      const newTodo = {
        id: todoList.value.length + 1,
        todo: todo.value.trim(),
        is_done: false
      };
      todoList.value.push(newTodo);
      todo.value = '';
    } else {
      alert('This todo already exists!');
    }
  }
};

const selectTodo = (row) => {
  selectedTodo.value = row;
  todo.value = row.todo;
};

const updateTodo = () => {
  if (todo.value.trim() !== '') {
    const index = todoList.value.findIndex(t => t.id === selectedTodo.value.id);
    if (index !== -1) {
      todoList.value[index].todo = todo.value.trim();
    }
    todo.value = '';
    selectedTodo.value = null;
  }
};

const markAsDone = (row) => {
  if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
    let index = todoList.value.findIndex(t => t.id === row.id);
    if (index !== -1) {
      todoList.value[index].is_done = true;
    }
  }
};

const removeTask = (taskId) => {
  if (confirm('Are you sure you want to delete this task?')) {
    todoList.value = todoList.value.filter(task => task.id !== taskId);
  }
};
</script>

<style scoped>
/* Add your scoped styles here if needed */
</style>
